<footer id="footer">
  <div class="footer_inner">
    <span>Fayimora Femi-Balogun &copy; 2013 All rights reserved</span>
    <div class="fr">
      <p class="social_list_title">Find me anywhere:</p>
      <ul class="social_list">
        <li><a href="mailto:Fayimora Femi-Balogun <fayi@fayimora.com>" class="link_tooltip" target="_blank" title="E-Mail"><img src="images/socicons/mail.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="LinkedIn"><img src="images/socicons/linkedin.png" alt="" /></a></li>
        <li><a href="http://twitter.com/FaYiMoRa" class="link_tooltip" target="_blank" title="Twitter"><img src="images/socicons/twitter.png" alt="" /></a></li>
        <li><a href="https://plus.google.com/u/0/108999794920364950284" class="link_tooltip" target="_blank" title="Google+"><img src="images/socicons/googleplus.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Facebook"><img src="images/socicons/facebook.png" alt="" /></a></li>
      </ul>
    </div>
  </div>
</footer>
