<footer id="footer">
  <div class="footer_inner">
    <span>Fayimora Femi-Balogun &copy; 2012 All rights reserved</span>
    <div class="fr">
      <p class="social_list_title">Find me elsewhere:</p>
      <ul class="social_list">
        <li><a href="#" class="link_tooltip" target="_blank" title="Facebook"><img src="images/socicons/facebook.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Flickr"><img src="images/socicons/flickr.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Twitter"><img src="images/socicons/twitter.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Last fm"><img src="images/socicons/lastfm.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Vimeo"><img src="images/socicons/vimeo.png" alt="" /></a></li>
        <li><a href="#" class="link_tooltip" target="_blank" title="Google+"><img src="images/socicons/googleplus.png" alt="" /></a></li>
      </ul>
    </div>
  </div>
</footer>
