<header id="header">
  <div class="header_inner">
    <a class="logo" href="/"><img src="images/llogo.png" alt="" /></a>
    <nav>
      <ul id="navigation">
        <li class="current_page_item"> <a href="index.html">Home</a> </li>
        <li> <a href="/contact"><span>Contact</span></a> </li>
      </ul>
    </nav>
  </div>
</header>
