<header id="header">
  <div class="header_inner">
    <a class="logo" href="/"><img src="images/llogo.png" alt="" /></a>
    <nav>
      <ul id="navigation">
        <li <% if data.page.page == 'index' %> class="current_page_item" <% end %>> <a href="/">Home</a> </li>
        <li <% if data.page.page == 'blog' %> class="current_page_item" <% end %>><a href="/blog"><span>Blog</span></a></li>
      </ul>
    </nav>
  </div>
</header>
