<header id="header">
  <div class="header_inner">
    <!-- <a class="logo" href="/"><h2>FAYIMORA</h2></a> -->
    <!-- <a class="logo" href="/"><img src="images/llogo.png" alt="" /></a> -->
    <nav>
      <ul id="navigation">
        <%= link_to_page "Home", "/index.html" %>
        <%= link_to_page "Blog", "/blog" %>
      </ul>
    </nav>
  </div>
</header>
