---
title: Home
---

<section id="top_sidebar">
  <div class="divider"></div>
  <br />
  <div class="two_third">
    <aside class="widget widget_text">
      <!-- <h3 class="widgettitle">Welcome to my humble site!</h3> -->
      <figure class="image_border"><img class="fullwidth" src="images/EtisFayi_small.jpg" alt="" /></figure>
      <b><a href="http://twitter.com/Miss_Etitinwo">Wene</a> and I at Victoria Park, East London :)</b>
    </aside>
  </div>

  <div class="one_third">
    <aside class="widget widget_text">
      <h3 class="widgettitle">&nbsp;</h3>
      <p>My name is Fayimora Femi-Balogun and I am currently a 4th Year Computer Science student at
      Queen Mary University of London. My interests are in Artificial Intelligence (mainly Machine
      Learning) and Theoretical Computer Science. Most people refer to me as a Software
      Engineer/Programmer but I like to think of myself as a <strong>scientist</strong>.</p>

      <p>I am a very active user of Twitter and E-mails so if you ever need to contact me, those are
      your best options.</p>

      <strong>Fayimora</strong>
    </aside>
  </div>
  <div class="cl"></div>
</section>
