---
title: Happy Valentine's Day
---

<!DOCTYPE html>
<html>
  <head>
    <title>Happy Valentine's Day!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="all">
    body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    border: 20px solid #fcd2d8;
    text-align: center;
    }

    a {
    color: #ffffff;
    text-decoration: none;
    }

    #valheader {
    font-size: 68px;
    margin-top: 50px;
    font-weight: normal;
    }

    #valmsg {
    font-style: italic;
    font-size: 36px;
    color: #f12469;
    margin-top: 50px;
    }
    </style>
  </head>
  <body>
    <section id="middle">
      <h1 id="valheader">Happy Valentine's Day</h1>
      <img src="http://i.imgur.com/a2tjOcm.png">
      <p id="valmsg">Wene my cushy, I have always loved you and will always love you. You ROCK my
      world!</p>
    </section>
  </body>
</html>
